<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>


<article>
  <h1>
    <%= @article.title %>
    <small>
		<%= link_to "edit", edit_article_path(@article) %>
		<%= link_to "destroy", article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
   </small>
  </h1>

  <hr>
  <p><%= @article.content %></p>
</article>